<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS Online Game</title>
    <script src="/files/js/game.js"></script>
    <link rel="stylesheet" href="/style/css/style.css">
  </head>
  <body>
    <div class="lobbycontent">
      <center>
        <h1 id="title">RPS Online Game</h1>
        <p></p>
        <div id="gameStarted">
          <table>
            <tr>
              <td>Rock</td>
              <td>Paper</td>
              <td>Scissor</td>
            </tr>
            <tr>
              <td><button onclick="playerMove(this.id)" type="submit" id="rock_btn"><img src="https://static.thenounproject.com/png/88661-200.png"></button></td>
              <td><button onclick="playerMove(this.id)" type="submit" id="paper_btn"><img src="https://static.thenounproject.com/png/477922-200.png"></button></td>
              <td><button onclick="playerMove(this.id)" type="submit" id="scissor_btn"><img src="https://static.thenounproject.com/png/88666-200.png"></button></td>
            </tr>
          </table>
        </div>
        <div id="TiedStatus">
          <p id="tiedp"> ! Match Tied ! </p>
          <p></p>
          <button type="submit" id="playAgain" onclick="playAgain()">Play Again</button>
        </div>
        <div id="WinnerStatus">
          <p id="winnerp"> WINNER: </p>
          <p></p>
          <p id="winnerName"></p>
          <table>
            <tr>
              <td><img id="winnerimg" src="#"></td>
            </tr>
          </table>
          <p></p>
          <button type="submit" id="playAgain" onclick="playAgain()">Play Again</button>
        </div>
        <div id="waitStatus">
          <p id="waitingMessage">Waiting for player...</p>
        </div>
        <div id="waitMove">
          <p id="waitingMessage">Waiting for other player to choose...</p>
        </div>
      </center>
    </div>

    <div class="logoutDiv">
      <form action="/thanks" method="POST">
        <button id="logout" type="submit" name="button" onclick="exitGame()">Leave Game</button>
      </form>
    </div>

    <div class="userList">
      <table id="usersTable">
        <tr>
          <th>Player</th>
          <th>Wins</th>
        </tr>
      </table>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
          initialize()
        });

        socket.on('PlayerList', function(players) {
          for(let i=0; i < players[0].length; i++) {
            if (i % 2 == 0) {
              var table = document.getElementById("usersTable");
              var row = table.insertRow(1);
              row.setAttribute("id", `${players[0][i+1]}`)
              var cell1 = row.insertCell(0);
              var cell2 = row.insertCell(1);
              cell1.innerHTML = players[0][i];
              cell2.innerHTML = players[1][socket.io.engine.id];
            }
          }
        });

        socket.on('removePlayerFromList', function(playerID) {
          var row = document.getElementById(String(playerID));
          row.parentNode.removeChild(row);
        });

        socket.on('playersOnline', function() {
          showAll()
        });

        socket.on('playersNOTOnline', function() {
          hideAll()
        });

        socket.on('CheckWinner', function(moves) {
          checkWinner(String(moves[1]), String(moves[0]))
        });

        socket.on('showWinner', function(winner) {
          showWinner(winner)
          updateTable(winner)
        });

        socket.on('showTied', function() {
          TiedStatus()
        });

        socket.on('restartGame', function() {
          restartGame()
        });
    </script>
  </body>
</html>
