<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS Online Game</title>
    <link rel="stylesheet" href="/style/css/style.css">
  </head>
  <body>
    <div class="lobbycontent">
      <center>
        <h1 id="title">RPS Online Game</h1>
        <form action="/match" method="POST">
          <input id="userName" name="userNameInput" type="text" value="" placeholder="Name...">
          <p></p>
          <button id="enter" type="submit" name="button">Play Online</button>
        </form>
      </center>
    </div>
  </body>
</html>
